*{
    margin: 0;
    padding: 0;
}

body{
    background-color: blanchedalmond;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border-radius: 10px;
    margin: 10px;
    background-color:hsl(86, 68%, 49%);
    height: auto;
    width: 97vw;
    display: grid;
    grid-template-columns: 3fr 6fr;
    grid-gap: 2%;
}

.home{
    pad: 3%;
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sidebar{
    border-radius: 14px;
    margin: 2%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bar{
    color: black;
    font-size: larger;
    font-weight: 800;
    font-family: cursive;
    border-radius: 14px;
    background-color: rgb(90, 244, 144);
    text-align: center;
    padding: 5%;
    margin: 5%;
}

.bar:hover{
    cursor: pointer;
    font-family:system-ui;
    font-weight: 400;
    font-style: italic;
    background-color: pink;
}

.active{
    font-family:system-ui;
    font-weight: 400;
    background-color: #007bff;
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
}